<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Voters details</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="bg-dark p-3">
        <ul class="list d-flex justify-content-center text-uppercase">
            <li class="d-flex mr-4"><a href="/home">Home</a></li>
            <!-- <li class="d-flex mr-4 "><a href="/register">register</a></li> -->
            <li class="d-flex"><a href="/voters">vote</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>Total Results</h1>
            <p>Thanks For Your Vote</p>
        </div>
        <div class="d-flex flex-column">
            <div class="h3 pt-3">YYMD : 2500 (10%)</div>
            <div class="h3 pt-3">FMC : 2500 (10%)</div>
            <div class="h3 pt-3">EUU : 2500 (10%)</div>
            <div class="h3 pt-3">LNWW : 2500 (10%)</div>
        </div>
    </div>
</body>
</html>