 <navbar-expand-lg class="navbar-light bg-light">
    <a href="#" class="navbar-brand">Simple Authentication App</a>
</navbar-expand-lg>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a href="/register" class="btn btn-primary active btn-lg">Register</a>

</div>